@charset "UTF-8";
@import "../abstracts/import_abstract";
// Variables
// Breakpoints
$bp-xsmall: 320px;
$bp-small: 480px;
$bp-mobile: 767px;
$bp-medium: 799px;
$bp-xmedium: 900px;
$bp-large: 1180px;
$bp-xlarge: 1440px;
$bp-xxlarge: 1900px;
$bp-landscape: orientation landscape;

// Sizes
$ae-gutter: 20px;
$ae-spacing: 30px;
$ae-width: 100%;

// Susy global settings
$susy: (
        container: $bp-xlarge,
        columns: 12,
        column-width: 80px,
        global-box-sizing: border-box,
        gutter-position: after,
        gutters: .2,
        // debug: (image: show),
);


// ae Animations
// easing
$ae-ease-in-out: ease-in-out;

$ae-bezier-slow: cubic-bezier(.25, .8, .25, 1);
$ae-bezier-medium: cubic-bezier(0.4, 0.0, 1, 1);
$ae-bezier-medium-2: cubic-bezier(0.4, 0.0, 0.2, 1);
$ae-bezier-fast: cubic-bezier(0.0, 0.0, 0.2, 1);

// ae Colors

$ae-transparent: transparent;

// white
$ae-white: #fff;
$ae-white-03: rgba(255,255, 255, 0.3);
// black
$ae-black: #000;
$ae-black-012: rgba(0, 0, 0, 0.12);
$ae-black-024: rgba(0, 0, 0, 0.24);
$ae-black-07:rgba(0, 0, 0, 0.7);
// purples
$ae-purple-ae: #2C2D70;
$ae-purple-50: #EDE7F6;
$ae-purple-100: #D1C4E9;
$ae-purple-200: #B39DDB;
$ae-purple-300: #9575CD;
$ae-purple-400: #7E57C2;
$ae-purple-500: #673AB7;
$ae-purple-600: #5E35B1;
$ae-purple-700: #512DA8;
$ae-purple-800: #4527A0;
$ae-purple-900: #311B92;
$ae-purple-A100: #B388FF;
$ae-purple-A200: #7C4DFF;
$ae-purple-A400: #651FFF;
$ae-purple-A700: #6200EA;

$ae-purple-ap: #CEC5E4; 

$ae-purple-rollover-1: rgba(61, 25, 134, 1);
$ae-purple-rollover-08: rgba(61, 25, 134, 0.8);
$ae-purple-rollover-042: rgba(61, 25, 134, 0.42);


$ae-purple-focus: #9ECAED;
// grays
$ae-gray-50: #FAFAFA;
$ae-gray-100: #F5F5F5;
$ae-gray-200: #EEEEEE;
$ae-gray-300: #E0E0E0;
$ae-gray-400: #BDBDBD;
$ae-gray-500: #9E9E9E;
$ae-gray-600: #757575;
$ae-gray-700: #616161;
$ae-gray-800: #424242;
$ae-gray-900: #212121;
$ae-gray-mid-03: rgba(125, 125, 125, 0.3);
// red
$ae-red: #DD083B;
// orange
$ae-orange: #FA933E;
// green
$ae-green: #167384;

// Fonts defaults
$text-default: $ae-gray-900;
// ae Fonts family
$f-1: 'Open Sans', Helvetica, Arial, sans-serif;
// ae Fonts weight
$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;
// ae Fonts sizes
$fs-h1-px: 45px;
$fs-h2-px: 40px;
$fs-h3-px: 30px;
$fs-h4-px: $fs-h3-px;
$fs-h5-px: 24px;
$fs-h6-px: $fs-h5-px;
$fs-text-px: 15px;
$fs-small-px: 12px;

$fs-h1: 2.8125rem;
$fs-h2: 2.5rem;
$fs-h3: 1.875rem;
$fs-h4: $fs-h3;
$fs-h5: 1.5rem;
$fs-h6: $fs-h5;
$fs-text: 0.9375rem;
$fs-description: 1.1rem;
$fs-small: 0.75rem;
// fonts margins
$f-space-bottom-h1: 22;
$f-space-top-h1: 36;
$f-space-bottom-h2: 22;
$f-space-top-h2: 32;
$f-space-bottom-h3: 15;
$f-space-top-h3: 24;
$f-space-bottom-h4: 15;
$f-space-top-h4: 24;
$f-space-bottom-h5: 12;
$f-space-top-h5: 19;
$f-space-bottom-h6: 9;
$f-space-top-h6: 15;
$f-space-bottom-p: 9;
$f-space-top-p: 12;

$f-top-margin: .8;
$f-bottom-margin: .5;
// ae default line-height
$lh: 1.5em;

// Button config
$ae-btn-padding: 10px 30px 12px;
$ae-btn-radius: 6px;

// Blog Accordion config
$ae-height: 500px;
// position text along bottom
$text-offset: $ae-height - 170;

// Font styles
$t-default: (
        default: (
                font-family: $f-1,
                font-weight: $fw-normal,
                font-size: $fs-text,
                line-height: $lh,
        ),
);
$t-1: (
        default: (
                font-family: $f-1,
                font-weight: $fw-light,
                font-size: $fs-h1,
                line-height: $lh,
        ),
);
$t-2: (
        default: (
                font-family: $f-1,
                font-weight: $fw-light,
                font-size: $fs-h2,
                line-height: $lh,
        ),
);
$t-3: (
        default: (
                font-family: $f-1,
                font-weight: $fw-normal,
                font-size: $fs-h3,
                line-height: $lh,
        ),
);
$t-4: (
        default: (
                font-family: $f-1,
                font-weight: $fw-light,
                font-size: $fs-h4,
                line-height: $lh,
        ),
);
$t-5: (
        default: (
                font-family: $f-1,
                font-weight: $fw-semibold,
                font-size: $fs-h5,
                line-height: $lh,
        ),
);
$t-6: (
        default: (
                font-family: $f-1,
                font-weight: $fw-normal,
                font-size: $fs-h5,
                line-height: $lh,
        ),
);
$t-labels: (
        default: (
                font-family: $f-1,
                font-weight: $fw-normal,
                font-size: $fs-text,
                line-height: $lh,
        ),
);

$t-quotes: (
        default: (
                font-family: $f-1,
                font-style: italic,
                font-weight: $fw-normal,
                font-size: $fs-text,
                line-height: $lh,
        ),
);

$t-description: (
        default: (
                font-family: $f-1,
                font-style: italic,
                font-weight: $fw-normal,
                font-size: $fs-description,
                line-height: $lh,
        ),
);

$t-btn: (
        default: (
                font-family: $f-1,
                font-weight: $fw-bold,
                font-size: $fs-text,
                line-height: $lh,
        ),
);

$t-legend: (
        default: (
                font-family: $f-1,
                font-weight: $fw-normal,
                font-size: $fs-small,
                line-height: $lh,
        ),
);