/*The fixed navbar will overlay your other content, unless you add padding to the top of the body.*/
  /*https://getbootstrap.com/components/#navbar-fixed-top*/
  body {
    padding-top: 65px;
  }

/**/
.panel-body.transcription {
  overflow: scroll;
  height: 80vh;
}

@media print {
  .panel-body.transcription {
      overflow: auto;
      height: 100%;
  }
}


.timecodes {
    font-weight: 200;
    color: lightgrey;
  }

  a.timecodes:hover{
    color: blue!important;
    /*no underline*/
    text-decoration: none;
    /* set it to bold on hover*/
    /*font-weight: bold;*/
  }

/*animate transcription status turning wheel*/
.glyphicon-refresh-animate {
-animation: spin .7s infinite linear;
-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
from { transform: scale(1) rotate(0deg);}
to { transform: scale(1) rotate(360deg);}
}
/**/


/*Transcript list show/title button allign text inside so that is not indented
it was intendent because button link, centres text*/

.controls{
  padding-left: 0!important;
}


span.words{
  cursor: pointer;
  /*background-color: #3a98d7;*/
  /*color: white;*/
}

span.words:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}

/*Paperedit style it's temporary while work out how to do click on word play paperedit.*/
.paperedit span{
  background-color: white;
  color: grey;
}

.paperedit span.words:hover{
   cursor: pointer;
  background-color: white;
  color: grey;

}

/*word hilight selection mode 
cursor:text 

word paper-editing drag mode
cursor:move
*/



/*make transcriptions scrollable*/
.row.transcript-individual{
    overflow: scroll;
    height: 90vh;
}

/*make speaker name in transcription view slightly greyed out */
strong.speaker {
    color: darkgray;
}

/*User selection on transcrip text */
/*::selection {
    background-color: #ffc966;
}*/


::selection {
    background-color: #3a98d7;
    color: white;
}


.highlight {
  /*background-color: yellow;*/
  /*color: white;*/
  box-shadow: 0px 2px 0px #3a98d7;

     /*background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));*/
   

  /*background-color: greenyellow;*/
  /*text-decoration: underline; */
}

.highlight:hover {
  background-color: #3a98d7!important;
  color: white!important;

   /*background-color: yellow!important;*/
    /*color: #000000!important;*/

  /*box-shadow: 0px 2px 0px #3a98d7;*/
  /*background-color: greenyellow;*/
  /*text-decoration: underline; */
}





.searched{
  /*background-color: lightblue;*/
    background-color: #f4eb1a;
  font-weight: bold;
}


/*Scrollbar*/

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}


/*Dragula style*/

.gu-mirror {
position: fixed !important;
margin: 0 !important;
z-index: 9999 !important;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
}
.gu-hide {
display: none !important;
}
.gu-unselectable {
-webkit-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
user-select: none !important;
}
.gu-transit {
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter: alpha(opacity=20);
}

/*end Dragula style*/


/*end Scrollbar*/




/*Audio take not responsive by default in bootstrap so making it*/
audio {
  width: 100%!important;
}



/*content editable*/
[contenteditable="true"]:focus {
  background-color: yellow!important;
  color: black!important;
}


#transcriptionCard {
   cursor: pointer;
}


/* disabling link for brand*/
#brandAppName{
 pointer-events: none;
 cursor: default;
}


.videoPlayer {
  background-color: black;
}


.currentPapercutElement {
  border-bottom: solid orange 2px;
}

 