@charset "UTF-8";
@import "common_dependencies"; // Load the dependencies
.btn {
    &__base {
        padding: $nc-btn-padding;
        border-radius: $nc-btn-radius;
        @include font($t-btn);
        text-transform: uppercase;
        background: $nc-purple-700;
        color: $nc-white;
        margin: $nc-spacing 0;
        display: inline-block;
        &:hover {
            background: $nc-purple-900;
            color: $nc-white;
            text-decoration: none;
            color: $nc-white;
            transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
        }
        &.disabled {
            background-color: $nc-gray-800;
        }
    }
    &__container {
        display: block;
        width: 100%;
        @include clearfix();
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
}

.inverted {
    .btn {
        &__base {
            background: $nc-gray-100;
            color: $nc-gray-900;
            &:hover,
            &:active,
            &--active {
                background: $nc-white;
                color: $nc-purple-900;
                transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
            }
        }
    }
}
