 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta name="description" content="autoEdit2 - Fast text based video editing">
 	<meta name="author" content="Pietro Passarelli">

 	<!-- Favicon start -->
 	<!-- For old IEs -->
 	<link rel="shortcut icon" href="favicon.ico" />
 	<!-- For new browsers - multisize ico  -->
 	<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="favicon/favicon.ico">
 	<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
 	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/favicon-152.png">
 	<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
 	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/favicon-144.png">
 	<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
 	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/favicon-120.png">
 	<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
 	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/favicon-114.png">
 	<!-- For iPhone 6+ -->
 	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicon/favicon-180.png">
 	<!-- For first- and second-generation iPad: -->
 	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/favicon-72.png">
 	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
 	<link rel="apple-touch-icon-precomposed" href="favicon/favicon-57.png">
 	<!-- For Old Chrome -->
 	<link rel="icon" href="favicon/favicon-32.png" sizes="32x32">
 	<!-- For IE10 Metro -->
 	<meta name="msapplication-TileColor" content="#FFFFFF">
 	<meta name="msapplication-TileImage" content="favicon-144.png">
 	<meta name="theme-color" content="#ffffff">
 	<!-- Chrome for Android -->
 	<link rel="manifest" href="favicon/manifest.json">
 	<link rel="icon" sizes="192x192" href="favicon/favicon-192.png">
 	<!-- Favicon end -->

 	<title>{{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
 	<!-- Bootstrap core CSS -->
 	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" >
 	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
 	<!-- Custom styles for this template -->
 	<link href="{{ site.baseurl }}/css/landing.css" rel="stylesheet">
 	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </head>