   <div class="container">

    <!-- Demo notice  -->
  <% if(!window.frontEndEnviromentNWJS ){%>
   <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You are viewing the app in demo mode</strong>.<br>
    <strong>Which means you cannot create a Paperedit</strong>.<br>
    <br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
     To view demo/example Paperedits <a href="/public/demo/#paperedits"> click here.</a><br>
     To view user manual example <a href="http://www.autoedit.io/user_manual/usage.html"  target="_blank"> click here.</a>
  </div>  
 <% }%>
    <!-- end demo notice  -->

     <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#transcriptions">Paperedits</a></li>
          <li class="active">New </a></li>
        </ol>
        <!--  end Breadcrumb -->
    <form id="form">
    <!-- File "upload" -->
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <p>Chose a title and description for your paper-edit. </p>
      <p>Transcriptions that you have previously added in autoEdit will be available in the next view once you click save.</p>
      </div><!-- ./col -->
      <!-- Title and description -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="form-group">
          <label for="title">Title of Paperedit</label>
          <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="e.g. Documentary about Facebook ">
        </div>
        <div class="form-group">
          <label for="description">Description (optional)</label>
          <textarea class="form-control"  name="description" rows="3" id="description"  placeholder="e.g. Paperedit for documentary on Facebook"><%= description %></textarea>
        </div>
    </div><!-- ./col -->

    <!-- Save  -->
    </div><!-- ./row -->
    <div class="row">
        <div class="col-xs-offset-4 col-sm-offset-6 col-md-offset-8 col-lg-offset-9">
         <!--  <a id="submitBtn" class="btn btn-primary">Save Paperedit</a> -->
          <a id="submitBtn" class="btn btn-primary">Save Paperedit</a>
          <a id="cancel" class="btn btn-default" href="#paperedits">Cancel</a>
      </div><!-- ./col -->
      </div><!-- ./row -->
  </form>
  </div>

