

<!-- TODO: This should not not go here but in css folder -->
<style media="screen">
.highlighted {
  background-color: yellow;

}

.highlighted-used {
  background-color: #FFFF99;
  /*FFFFCC*/
}

.transcript-n-text.row {
  height: 70vh;
  overflow: scroll;
}

.transcriptionsTabs{
 height: 90vh;
 overflow: scroll;
}

/*.video {
height: 20vh;
}*/

.embed-responsive-16by9 {
  padding-bottom: 30%!important;
}

.syncPlayTest {
  background-color: lightgreen;
  cursor: pointer;
}

/*Dragula style*/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/*Scrollbar*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

</style>


<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-11 col-md-11 col-lg-11">
      <!-- Breadcrumb  -->
      <ol class="breadcrumb">
        <li><a href="#paperedits">Paperedits</a></li>
        <li class="active"><%= title %></a></li>
      </ol>
      <!--  end Breadcrumb -->
    </div><!-- ./col -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary hidden-print" data-toggle="modal" data-target="#exportModal">
        Export <span class="glyphicon glyphicon-save"></span>
      </button>

    </div><!-- ./col -->
  </div><!-- ./row -->
  <!-- Export modal + button -->
  <!-- Modal -->
  <div class="modal fade hidden-print" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exportModalLabel">Export Options</h4>
        </div>
        <div class="modal-body">
          <!-- Export options -->
          <h2><small>Video sequence </small></h2>
          <p>You can export an EDL (edit decision list) to open a video sequence of the paperedit in the video editing software of choice.   <!-- See the user manual for more on this 
            <a id="edlUserManualInfo" <span  class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.-->
            <!-- Btn Edl - chronological order | -->

            <p><a id="exportEdl" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              EDL 
            </a>

            <hr>
            <h2><small>Developer’s options </small> </h2>
            <p>These are additional advanced export options for developers.</p>

            <p><a id="exportEdlJSON" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              EDL JSON 
            </a>
            <!-- End export option -->
          </div>
          <div class="modal-footer" >
            <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Export end modal + button -->   
  </div><!-- ./col -->
</div><!-- ./row -->

<!-- Paperedit  -->
<div class="row">
  <div id="transcriptSection" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <!-- <img class="img-responsive hidden-print" src="http://placehold.it/350x150" > -->
    <!-- Transcripts list  -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <!-- Tab panes -->
      <ul class="nav nav-pills nav-stacked transcriptionsTabs" >
        <% for(var i =0; i<transcriptions.length;i++){ %>
        <!-- class="active"-->
        <li class="liTranscriptionTabLink"><a  id="<%= transcriptions[i]._id %>"  style="word-wrap:break-word;" class="transcriptionTabLink" 
          ><%= transcriptions[i].title %> </a></li>
          <% }%>
        </ul>
        <!-- Tab paenl End  -->
      </div>
      <!-- end transcript list end -->
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="transcription-tab-content" >
          <!-- hypertranscript -->
          <div id="transcript-n" class="transcription">
            <!-- uses hypertranscript.html.ejs template to populate transcription -->
          </div>   <!--transcript-n -->
          <!-- End hypertranscript -->
        </div>
      </div>
    </div>

    <div id="papereditSection" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <!-- <h2 contenteditable="true"><small>Awesome doc about something</small></h2> -->
      <div class="row">
        <div id="videoContainer" class="embed-responsive  embed-responsive-16by9 hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <video id="videoPreview" class="videoPlayer" width="400" >
            <!--   <source src="" type="video/mp4"> -->
            <!--   <source src="" type="video/ogg"> -->
            Your browser does not support HTML5 video.
          </video>
        </div>
        <!--  col -->
      </div>
      <!--  row -->
      <!-- <hr> -->

<br>
    <div class="panel panel-default">
    <div class="panel-heading">


      <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-sm btn-default playPapercutsBtn"><span class="glyphicon glyphicon-play"  ></span>  Beta   </button>
      <button type="button" class="btn btn-sm btn-default pausePapercutsBtn"><span class="glyphicon glyphicon-pause"  ></span>  </button> 
      <button type="button" class="btn btn-sm btn-default stopPapercutsBtn"><span class="glyphicon glyphicon-stop"  ></span>  </button>
      <button type="button" data-toggle="popover" title="add a story point to the paper edit"  data-placement="bottom"  data-content="there might be a better place for this?" class="btn btn-sm btn-default addStoryPointBtn"><span class="  glyphicon glyphicon-plus"  ></span> story point</button>
      <!-- <button type="button" data-toggle="popover" title="Save Paperedit"  data-placement="bottom"  data-content="click to save Paperedit " class="btn btn-sm btn-default savePapercutsBtn"><span class="glyphicon glyphicon-floppy-disk"  ></span>  </button> -->
      <button type="button" data-toggle="popover" title="Delete a papercut "  data-placement="bottom"  data-content="drag here a papercut to delete "   class="btn btn-sm btn-default deletePapercut"><span class="glyphicon glyphicon-trash"  ></span>  </button>
      </div>


    </div><!-- container panel -->
    <div class="panel-body">

      <div id="sortable" class="transcript-n-text row paperedit">
        <!-- Paperedit is added here using template papercut.html.ejs -->
      </div> <!--transcript-n-text -->

    </div><!-- container panel -->
  </div><!-- container panel -->


    </div><!--.row-->
  </div>  
</div>   
</div><!-- end row -->
</div> <!-- container -->

