  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-10 col-lg-10 col-xl-10">
        <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#transcriptions">Paperedits</a></li>
          <li class="active"><%= title %></a></li>
        </ol>
        <!--  end Breadcrumb -->
      </div><!-- ./col -->
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">

      </div><!-- ./col -->
    </div><!-- ./row -->

<h2><%= title %></h2>
<p><%= description %></p>
  </div><!-- ./container -->
