 <li class="row papercut" data-title="Introduction" draggable="true">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4><span class="glyphicon glyphicon-pencil" ></span>   <span contenteditable="true"><%= title %></span></h4>
  </div> 
</li> 