

<!-- TODO: This should not not go here but in css folder -->
  <style media="screen">
  .highlighted {
    background-color: yellow;

  }

  .highlighted-used {
    background-color: #FFFF99;
    /*FFFFCC*/
  }

  .transcript-n-text.row {
    height: 70vh;
    overflow: scroll;
  }

  .transcriptionsTabs{
     height: 90vh;
    overflow: scroll;
  }

  /*.video {
  height: 20vh;
  }*/

  .embed-responsive-16by9 {
    padding-bottom: 30%!important;
  }

  .syncPlayTest {
    background-color: lightgreen;
    cursor: pointer;
  }

  /*Dragula style*/

  .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/*Scrollbar*/

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

  </style>


  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs col-sm-10 col-lg-10 col-xl-10">
        <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#paperedits">Paperedits</a></li>
          <li class="active"><%= title %></a></li>
        </ol>
        <!--  end Breadcrumb -->
      </div><!-- ./col -->
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary hidden-print" data-toggle="modal" data-target="#exportModal">
        Export <span class="glyphicon glyphicon-save"></span>
      </button>

      </div><!-- ./col -->
    </div><!-- ./row -->

<!-- Export modal + button -->


<!-- Modal -->
<div class="modal fade hidden-print" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exportModalLabel">Export Options</h4>
      </div>
      <div class="modal-body">
       <!-- Export options -->
        <h2><small>Video sequence </small></h2>
        <p>You can export an EDL (edit decision list) to open a video sequence of text selections in the video editing software. See the user manual for more on this 
         <a id="edlUserManualInfo" <span  class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.
        <!-- Btn Edl - chronological order | -->

        <p><a id="exportEdl" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          EDL 
        </a>

         <p><a id="exportEdlJSON" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          EDL JSON 
        </a>

        <a id="exportEdlJSONWithTitles" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          EDL  JSON with titles
        </a>

        

       <!-- End export option -->
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Export end modal + button -->   
  

      </div><!-- ./col -->
    </div><!-- ./row -->



 

<!-- Paperedit  -->


    <div class="row">
      <div id="transcriptSection" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <!-- <img class="img-responsive hidden-print" src="http://placehold.it/350x150" > -->
        <!-- Transcripts list  -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

         <ul class="nav nav-pills nav-stacked transcriptionsTabs" >
        <% for(var i =0; i<transcriptions.length;i++){ %>
          <!-- class="active"-->
            <li class="liTranscriptionTabLink"><a  id="<%= transcriptions[i]._id %>" class="transcriptionTabLink" 
           ><%= transcriptions[i].title %> </a></li>
          <% }%>
          </ul>

            <!-- Tab panes -->
   <!--  https://getbootstrap.com/javascript/#markup -->
   <!--    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>
 -->

        </div>
        <!-- end transcript list end -->

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

 <!-- Tab panes -->

  <div class="transcription-tab-content" >
  
<!-- hypertranscript -->
          <div id="transcript-n" class="transcription">
            <!-- <h2><small>Transcript 1</small></h2> -->
            <!-- <img class="img-responsive hidden-print video"  src="demoVideoPlaceholder.png" > -->
            <!-- video -->
            <div class="row">
              <div class="embed-responsive embed-responsive-16by9 videoPlayer hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <video id="videoId"  controls>
                  <source src="video/Thomas_Drake.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                    </video>
                  </div><!--  col -->
                </div><!--  row -->
                <!-- end video -->
                <!-- <hr> -->
                <!-- search -->
                <!-- TODO: in transcript search you can search current transcript or across transcripts, you can also set filters on current transcript or across transcripts for tags, and speaker names.  -->
                <div class="input-group hidden-print">
                  <input type="text" class="form-control" placeholder="Search transcript">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-filter" aria-hidden="true"
                      data-toggle="popover"title="set Filter options for search"  data-placement="bottom"  data-content="allows to set search or filter, across current transcript or all transcripts in proejct. filter by tag/s speaker/s. filters also work with searches.">
                    </span><span class="caret"></span></button>
                    <button class="btn btn-default"  data-toggle="popover"title="set options such as quick add"  data-placement="bottom"  data-content="aquick add, maybe a checkbox? that allows user to select, and when done with selection, eg mouse up, or with keyboard shortcut eg cmd left arrow it moves the text at the end of the paperedit.">
                      <span class="glyphicon glyphicon-cog">
                      </button>
                    </span>
                  </div><!-- /input-group -->
                  
                  <!--end search  -->
                  <div class="transcript-n-text row" id="sampleTranscript">
                    <!-- speaker section -->
                    <div class="row">
                      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <strong>speaker 1</strong>
                        <!-- <code  class="timecode-for-print visible-print-inline"><small>00:00:00:00 - 00:00:00:00</small></code> -->
                      </div>
                      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <p>Lorem ipsum dolor sit amet, <span class="highlighted-used"  type="button" data-toggle="popover"title="Tag name and Tag description here"  data-placement="bottom"  data-content="any comment on this hilight and the use of this tag in this specific goes here ">consectetur adipiscing elit, sed do eiusmod tempor incididunt</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi<p> 
                      </div>
                    </div>
                    </div>   <!--transcript-n-text -->
                  </div>   <!--transcript-n -->
<!-- End hypertranscript -->
</div><!-- Tab paenl End  -->


                </div>
              </div>

              <div id="papereditSection" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <!-- <h2 contenteditable="true"><small>Awesome doc about something</small></h2> -->

                <div class="row">
                  <div class="embed-responsive embed-responsive-16by9 hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <canvas id="vc-canvas"></canvas>

                        <!-- Add poster image black screen? -->
                    <video id="videoPreview" class="videoPlayer" width="400" >
                    <!--   <source src="" type="video/mp4"> -->
                    <!--   <source src="" type="video/ogg"> -->
                      Your browser does not support HTML5 video.
                    </video>




                  </div>
                  <!--  col -->
                </div>
                <!--  row -->

           
       

              <!-- <hr> -->

              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-xs btn-default playPapercutsBtn"><span class="glyphicon glyphicon-play"  ></span>  </button>
                <button type="button" class="btn btn-xs btn-default pausePapercutsBtn"><span class="glyphicon glyphicon-pause"  ></span>  </button>
                <button type="button" class="btn btn-xs btn-default stopPapercutsBtn"><span class="glyphicon glyphicon-stop"  ></span>  </button>

                <button type="button" data-toggle="popover" title="add a story point to the paper edit"  data-placement="bottom"  data-content="there might be a better place for this?" class="btn btn-xs btn-default addStoryPointBtn"><span class="  glyphicon glyphicon-plus"  ></span> story point</button>
                <button type="button" data-toggle="popover" title="Save Paperedit"  data-placement="bottom"  data-content="click to save Paperedit " class="btn btn-xs btn-default savePapercutsBtn"><span class="glyphicon glyphicon-floppy-disk"  ></span>  </button>
              </div>

              <button type="button" data-toggle="popover" title="Delete a papercut "  data-placement="bottom"  data-content="drag here a papercut to delete "   class="btn btn-xs btn-default deletePapercut"><span class="glyphicon glyphicon-trash"  ></span>  </button>

            

              <!-- Single button -->
             <!--   <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">edl</a></li>
                  <li><a href="#">docx</a></li>
                <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li> 
                </ul>
              </div>-->

              <div id="sortable" class="transcript-n-text row paperedit">
              <!-- 
                <li class="row papercut" data-title="Introduction" draggable="true">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4><span class="glyphicon glyphicon-pencil" ></span>   <span contenteditable="true">Introduction</span></h4>
                  </div> 
                </li> row -->
                
                <!-- speaker section -->
                 <!--<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <dl class="dl-horizontal">
                    <dt>Unnamed Speaker</dt> 
                    <dt>
                        <a data-start-time="0.06" data-video-id="videoId_24dcd88b" class="timecodes">00:00:00:01</a>
                    </dt>
                    <dd>
                    <span contenteditable="false" class="words text-muted" data-transcription-id="24dcd88b" data-paragaph-id="0" data-word-id="18" data-line-id="" data-reel-name="NA" data-clip-name="Ian Perkin-Mobile.mp4" data-video-id="videoId_24dcd88b" data-speaker="Unnamed Speaker" data-src="/Users/pietropassarelli/Library/Application Support/autoEdit2/media/Ian_Perkin-Mobile.mp4.1486169904445.webm" data-audio-file="/Users/pietropassarelli/Library/Application Support/autoEdit2/media/Ian_Perkin-Mobile.mp4.1486169904445.ogg" data-start-time="19.07" data-text="sales" data-end-time="19.38">sales </span>

                    ....
                   </dd>
                  </dl>-->
                </div><!--.col-->
                </div><!--.row-->

            </div>   <!--transcript-n-text -->
          </div>   <!--transcript-n -->


        </div>

      </div> <!-- end row -->

<script src='./node_modules/jquery-sortable/source/js/jquery-sortable.js'></script>


