<div class="container">

	<!-- Demo notice  -->
	<% if(!window.frontEndEnviromentNWJS ){%>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>You are viewing the app in demo mode</strong>.<br>
		<strong>Which means you cannot change settings</strong>.<br>
		<br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
		To view demo/example transcriptions <a href="/public/demo/frontEnd/index.html#transcriptions"> click here.</a><br>
		To view user manual example <a href="http://www.autoedit.io/user_manual/usage.html"  target="_blank"> click here.</a>
	</div>  
	<% }%>
	<!-- end demo notice  -->

	<!-- Breadcrumb  -->
	<ol class="breadcrumb">
		<li class="active">Settings</li>
	</ol>
	<!--  end Breadcrumb -->

		<div class="alert alert-info alert-dismissable">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>IBM Watson Speech To Text Service Credentials</strong> 
		  <p>Here you can check or edit your credentials for the IBM Speech To Text service.</p>
			<p>Note that these are different from your IBM bluemix credentials. </p>
			<p>You need to activate a Watson Speech To Text Service on Bluemix to get these.</p>
			<p><a href="http://www.autoedit.io/user_manual/setup.html" class="alert-link" target="_blank">Checkout the user manual for more info</a>.</p>
		</div>
	

	<form id="form">
		<!-- File "upload" -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>IBM Watson Speech to text Service credentials</h3>
				<div class="form-group">
					<label for="username">IBM STT Username</label>
					<input type="title" name="username" value="<%= credentials.ibm.username %>" class="form-control" id="username" placeholder="e.g. PMYs8ZexZ7qKGkFgFJhGMYhqzEC4aNzRAv9H">
				</div>
				<div class="form-group">
					<label for="password">IBM STT Password</label>
					<input type="title" name="password" value="<%= credentials.ibm.password  %>" class="form-control" id="password" placeholder="e.g. 2QKJ79uRsD2a">
				</div>

				<!-- Save  -->
				<!--  <a id="submitBtn" class="btn btn-primary">Save Transcription</a> -->
				<a id="submitBtn" class="btn btn-primary">Save Credentials</a>
				<!-- <a id="cancel" class="btn btn-default" href="#transcriptions">Cancel</a> -->
			</div><!-- ./col -->
		</div><!-- ./row -->
	</form>
</div>