   <div class="container">

    <!-- Demo notice  -->
  <% if(!window.frontEndEnviromentNWJS ){%>
   <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You are viewing the app in demo mode</strong>.<br>
    <strong>Which means you cannot upload an audio or video file for transcription</strong>.<br>
    <br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
     To view demo/example transcriptions <a href="/public/demo/frontEnd/index.html#transcriptions"> click here.</a><br>
     To view user manual example <a href="http://www.autoedit.io/user_manual/usage.html"  target="_blank"> click here.</a>
  </div>  
 <% }%>
    <!-- end demo notice  -->

     <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#transcriptions">Transcriptions</a></li>
          <li class="active">New </a></li>
        </ol>
        <!--  end Breadcrumb -->
    <form id="form">
    <!-- File "upload" -->
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="form-group">
          <label for="fileUpload">Choose an audio or video file to transcribe</label>
          <input  name="file" type="file" id="inputMediaFile">
        </div>
        <!-- Online/offline -->
      <div class="form-group">
        <label for="radioSTT">Speech To Text Transcription System</label><br>
        <label class="radio-inline"><input type="radio" id="IBMoption" name="optradio" value="ibm" checked>IBM </label>
        <label class="radio-inline"><input type="radio" id="genelteOption" value="gentle" name="optradio">Gentle (offline)</label>
        <p class="help-block">IBM is fast and more accurate while Gentle is free of charge, works offline, and is only in English. Use Gentle if you are working with sensitve informations. Follow the link for more info on setting it up
     <a href="http://www.autoedit.io/user_manual/setup.html#gentle-stt-open-source-free-and-offline" target="_blank"><span  class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.
        </p>
      </div>
        <!-- languages -->
      <div class="form-group">
        <label for="languageModel">IBM Language:</label>
        <select class="form-control" id="languageModel">
          <option value="en-US_BroadbandModel" >US English  - Broadband</option> 
            <option value="en-US_NarrowbandModel">US English  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="en-UK_BroadbandModel">UK English - Broadband </option>
          <option value="en-UK_NarrowbandModel">UK English - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="es-ES_BroadbandModel">Spanish - Broadband </option>
          <option value="es-ES_NarrowbandModel">Spanish - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="fr-FR_BroadbandModel">French - Broadband</option>  
          <!-- <option disabled>_________</option> -->
          <option value="ja-JP_BroadbandModel"> Japanese - Broadband</option>
          <option value="ja-JP_NarrowbandModel"> Japanese - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="ar-AR_BroadbandModel"> Modern Standard Arabic - Broadband </option>
          <!-- <option disabled>_________</option>          -->
          <option value="pt-BR_BroadbandModel"> Brazilian Portuguese - Broadband</option>
          <option value="pt-BR_NarrowbandModel"> Brazilian Portuguese  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="zh-CN_BroadbandModel"> Mandarin Chinese  - Broadband </option>
          <option value="zh-CN_NarrowbandModel">Mandarin Chinese  - Narrowband </option>
        </select>
         <p class="help-block">Chose the language of your media file. The default is English US.</p>
         <p class="help-block">IBM® recommends that you use narrowband model for decoding of telephone speech.</p>
      </div>
<p> </p>
        </p>
      </div><!-- ./col -->
      <!-- Title and description -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="form-group">
          <label for="title">Title of Transcription</label>
          <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="e.g. Interview with Mark Zuckerberg">
        </div>
        <div class="form-group">
          <label for="description">Description (optional)</label>
          <textarea class="form-control"  name="description" rows="3" id="description"  placeholder="e.g. Speaking with Facebook CEO about Facebook Live"><%= description %></textarea>
        </div>
    </div><!-- ./col -->

    <!-- Save  -->
    </div><!-- ./row -->
    <div class="row">
        <div class="col-xs-offset-4 col-sm-offset-6 col-md-offset-8 col-lg-offset-9">
         <!--  <a id="submitBtn" class="btn btn-primary">Save Transcription</a> -->
          <a id="submitBtn" class="btn btn-primary">Save Transcription</a>
          <a id="cancel" class="btn btn-default" href="#transcriptions">Cancel</a>
      </div><!-- ./col -->
      </div><!-- ./row -->
  </form>
  </div>

