   <div class="container">

    <!-- Demo notice  -->
  <% if(!window.frontEndEnviromentNWJS ){%>
   <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You are viewing the app in demo mode</strong>.<br>
    <strong>Which means you cannot upload an audio or video file for transcription</strong>.<br>
    <br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
     To view demo/example transcriptions <a href="/demo/#transcriptions"> click here.</a><br>
     To view user manual example <a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/content/"  target="_blank"> click here.</a>
  </div>  
 <% }%>
    <!-- end demo notice  -->

     <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#transcriptions">Transcriptions</a></li>
          <li class="active">New </a></li>
        </ol>
        <!--  end Breadcrumb -->





    <form id="form">
    <!-- File "upload" -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="form-group">
           <label for="fileUpload">Choose an audio or video file to transcribe</label>
          <% if(window.process !== undefined ){%>
            
            <button id="btnElectronInputMediaFile" class="btn btn-default btn-xs"  class="very-sweet-looking">Chose a File</button>

            <input id="inputElectronInputMediaFile" name="file" type="file" disabled="disabled" style=" visibility: hidden;"/>

              <p class="help-block" id="inputFilePreview" style="word-wrap:break-word;" ></p>

          <% }else{%>

          <input  name="file" type="file" id="inputMediaFile">
           <% }%>
        </div>
        <!-- Online/offline -->

      <div class="form-group">
        <label for="radioSTT">Speech To Text Transcription System</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="IBMoption" name="optradio" value="ibm" checked>IBM Watson</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="googleOption" name="optradio" value="google" >Google Cloud </label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="microsoftOption" name="optradio" value="microsoft" >Microsoft Bing  </label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="genelteOption" value="gentle" name="optradio">Gentle/Kaldi (offline/experimental)</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="pocketSphinxOption" name="optradio" value="pocketsphinx">Pocketsphinx (offline/experimental) </label><br>
         <label class="radio-inline"><input class="languageRadio" type="radio" id="captionsOption" name="optradio" value="captions">Captions </label><br>
       <!--  <label class="radio-inline"><input type="radio" id="captions" name="optradio" value="captions">Caption File (<code>.srt</code>) </label><br> -->

</div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="languageTabs" role="tablist">
     <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation" ><a href="#ibm" aria-controls="ibm" role="tab" data-toggle="tab">IBM</a></li>
    <li role="presentation"><a href="#google" aria-controls="google" role="tab" data-toggle="tab">Google</a></li>
    <li role="presentation"><a href="#microsoft" aria-controls="microsoft" role="tab" data-toggle="tab">Microsoft</a></li>
     <li role="presentation"><a href="#gentle" aria-controls="gentle" role="tab" data-toggle="tab">Gentle</a></li>
    <li role="presentation"><a href="#pocketsphinx" aria-controls="pocketsphinx" role="tab" data-toggle="tab">Pocketsphinx</a></li>
    <li role="presentation"><a href="#captions" aria-controls="captions" role="tab" data-toggle="tab">Captions</a></li>
 <!--     <li role="presentation"><a href="#captions" aria-controls="captions" role="tab" data-toggle="tab">Caption</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" >
     <div role="tabpanel" class="tab-pane active" id="overview">

        <p class="help-block">IBM is fast and more accurate while Gentle is free of charge, works offline, and is only in English. Use Gentle if you are working with sensitve informations. Integration with Gentle is a bit more experimental at this stage. Follow the link for more info on setting it up
        <a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis.html" class="externalLink" id="linkToUserManual" target="_blank"><span  class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.
        </p>
         <p class="help-block">With IBM chose <code>narrowband</code> for telephone recordings, everything else is broadband.
        </p>
         <p class="help-block">The IBM option always takes 5 minutes to generate a transcription regardless of the length of the media(audio or video file). In the current version Pocketsphinx and Gentle take slightly more then the duration of the media(audio or video) to do a full transcription <i>(eg 27min will take 30min to transcribe)</i>.</p>

     </div>

    <div role="tabpanel" class="tab-pane " id="ibm">
      <br>
    <!-- IBM languages -->
      <div class="options"> 
      <div class="form-group">
        <label for="languageModelIBM">IBM Languages:</label>
        <select class="form-control" id="languageModelIBM">
          <option value="en-US_BroadbandModel" >US English  - Broadband</option> 
            <option value="en-US_NarrowbandModel">US English  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="en-UK_BroadbandModel">UK English - Broadband </option>
          <option value="en-UK_NarrowbandModel">UK English - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="es-ES_BroadbandModel">Spanish - Broadband </option>
          <option value="es-ES_NarrowbandModel">Spanish - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="fr-FR_BroadbandModel">French - Broadband</option>  
          <!-- <option disabled>_________</option> -->
          <option value="ja-JP_BroadbandModel"> Japanese - Broadband</option>
          <option value="ja-JP_NarrowbandModel"> Japanese - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="ar-AR_BroadbandModel"> Modern Standard Arabic - Broadband </option>
          <!-- <option disabled>_________</option>          -->
          <option value="pt-BR_BroadbandModel"> Brazilian Portuguese - Broadband</option>
          <option value="pt-BR_NarrowbandModel"> Brazilian Portuguese  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="zh-CN_BroadbandModel"> Mandarin Chinese  - Broadband </option>
          <option value="zh-CN_NarrowbandModel">Mandarin Chinese  - Narrowband </option>

           <option value="ar-AR_BroadbandModel">Modern Standard Arabic - Broadband</option>
         
          <!-- TODO: add arabic option  -->
        </select>
         <p class="help-block">Chose the language of your media file. The default is English US.</p>
         <p class="help-block">IBM® recommends that you use narrowband model for decoding of telephone speech.</p>
      </div>
    </div>
    <!-- Eng IBM Languages -->
    </div>
    <div role="tabpanel" class="tab-pane" id="google">
      <br>
      <!-- Google languages -->
      <div class="options"> 
      <div class="form-group">
        <label for="languageModelGoogle">Google Cloud Speech Languages:</label>
        <select class="form-control" id="languageModelGoogle">
          <option value="en-US" >English (United States)  </option> 
            <option value="en-GB">English (United Kingdom)</option>
          <!-- <option disabled>_________</option> -->
          <option value="it-IT">Italian (Italy) </option>
          <!-- TODO: add arabic option  -->
        </select>
         <p class="help-block">Chose the language of your media file. The default is English US.</p>
      </div>
      </div>
      <!-- Eng google languages -->

    </div>
    <div role="tabpanel" class="tab-pane" id="microsoft">
      <br>
   
      <i>Coming soon</i>
      <!-- Google languages -->
      <div class="options"> 
      <div class="form-group">
        <label for="languageModelGoogle">Microsoft Bing Languages for conversation mode:</label>
        <select class="form-control" id="languageModelGoogle" disabled>
          <option value="en-US" >English (United States)  </option> 
            <option value="en-GB">English (United Kingdom)</option>
          <!-- <option disabled>_________</option> -->
          <option value="it-IT">Italian (Italy) </option>
          <option value="fr-FR">French (France)</option>
          <option value="es-ES">Spanish (Spain)</option>
          <option value="de-DE">German (Germany)</option>
          <option value="pt-BR">Portuguese (Brazil)</option>
          <option value="ru-RU">Russian (Russia)</option>
          <option value="zh-CN">Chinese (Mandarin, simplified)</option>
          <option value="ja-JP">Japanese (Japan)</option>
          <option value="ar-EG">Arabic (Egypt), modern standard</option>
          
          <!-- TODO: add arabic option  -->
        </select>
         <p class="help-block">Chose the language of your media file. The default is English US.</p>
      </div>
      </div>
      <!-- Eng google languages -->




    </div>
    
    <div role="tabpanel" class="tab-pane" id="gentle">
      <br>
      <label for="languageModel">Gentle/Kaldi Speech To Text:</label><br>
     <i> See User manual for extra setup needed, Only support US English For now</i></div>
    


    <div role="tabpanel" class="tab-pane" id="pocketsphinx">
      <br>
      <label for="languageModel">Pocketsphinx Speech To Text:</label><br>
     <i> Does not require extra setup, only supports US English for now</i></div>

       <div role="tabpanel" class="tab-pane" id="captions">
        <br>
        <label for="languageModel">Captions  <code>.srt</code> file:</label><br>
        <i> coming soon</i>
      </div>
  </div>

<hr>

      </div><!-- ./col -->
      <!-- Title and description -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <label for="title">Title of Transcription</label>
          <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="e.g. Interview with Elon Musk" required>
        </div>
        <div class="form-group">
          <label for="description">Description (optional)</label>
          <textarea class="form-control"  name="description" rows="3" id="description"  placeholder="e.g. Speaking with Space X and Tesla CEO about the simulation theory"><%= description %></textarea>
        </div>
        <div class="row">
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
         <!--  <a id="submitBtn" class="btn btn-primary">Save Transcription</a> -->
          <a id="submitBtn" class="btn btn-primary">Save Transcription</a>
          <a id="cancel" class="btn btn-default" href="#transcriptions">Cancel</a>
       </div><!-- ./col -->
      </div><!-- ./row -->

    </div><!-- ./col -->

    <!-- Save  -->
    </div><!-- ./row -->
  
  </form>
  </div>

