   <div class="container">

    <!-- Demo notice  -->
  <% if(!window.frontEndEnviromentElectron ){%>
   <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You are viewing the app in demo mode</strong>.<br>
    <strong>Which means you cannot upload an audio or video file for transcription</strong>.<br>
    <br> To use  a working version of the app <a href="https://github.com/OpenNewsLabs/autoEdit_2/releases"  target="_blank"> download latest the release.</a> <br>
     To view demo/example transcriptions <a href="/demo/#transcriptions"> click here.</a><br>
     To view user manual example <a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/content/"  target="_blank"> click here.</a>
  </div>  
 <% }%>
    <!-- end demo notice  -->

     <!-- Breadcrumb  -->
        <ol class="breadcrumb">
          <li><a href="#transcriptions">Transcriptions</a></li>
          <li class="active">New </a></li>
        </ol>
        <!--  end Breadcrumb -->


    <form id="form">
    <!-- File "upload" -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="form-group">
           <label for="fileUpload">Choose an audio or video file to transcribe</label>
          <% if(window.process !== undefined ){%>
            
            <button id="btnElectronInputMediaFile" class="btn btn-default btn-xs"  class="very-sweet-looking">Choose a File</button>

            <input id="inputElectronInputMediaFile" name="file" type="file" disabled="disabled" style=" visibility: hidden;"/>

              <p class="help-block" id="inputFilePreview" style="word-wrap:break-word;" ></p>

          <% }else{%>

          <input  name="file" type="file" id="inputMediaFile">
           <% }%>
        </div>
        <!-- Online/offline -->

      <div class="form-group">
        <label for="radioSTT">Speech To Text Transcription System</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="IBMoption" name="optradio" value="ibm" checked>IBM Watson</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="speechmaticsOption" name="optradio" value="speechmatics" >Speechmatics </label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="revOption" name="optradio" value="rev" >Rev </label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="genelteOption" value="gentle" name="optradio">Gentle/Kaldi (offline/experimental)</label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="pocketSphinxOption" name="optradio" value="pocketsphinx">Pocketsphinx (offline/experimental) </label><br>
        <label class="radio-inline"><input class="languageRadio" type="radio" id="bbcOption" name="optradio" value="bbc" >BBC <i>(Need to a BBC employe on BBC Network)</i></label><br>
        <!-- <label class="radio-inline"><input class="languageRadio" type="radio" id="captionsOptionSrt" name="optradio" value="srt">Caption File <code>.srt</code> </label><br> -->
        <!-- <label class="radio-inline"><input class="languageRadio" type="radio" id="captionsOptionVtt" name="optradio" value="vtt">Caption File <code>.vtt</code> </label><br> -->

</div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="languageTabs" role="tablist">
     <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation" ><a href="#ibm" aria-controls="ibm" role="tab" data-toggle="tab">IBM</a></li>
    <li role="presentation"><a href="#speechmatics" aria-controls="speechmatics" role="tab" data-toggle="tab">Speechmatics</a></li>
    <li role="presentation"><a href="#rev" aria-controls="rev" role="tab" data-toggle="tab">Rev</a></li>
     <li role="presentation"><a href="#gentle" aria-controls="gentle" role="tab" data-toggle="tab">Gentle</a></li>
    <li role="presentation"><a href="#pocketsphinx" aria-controls="pocketsphinx" role="tab" data-toggle="tab">Pocketsphinx</a></li>
    <li role="presentation"><a href="#bbc" aria-controls="bbc" role="tab" data-toggle="tab">BBC</a></li>
    <!-- <li role="presentation"><a href="#srt" aria-controls="captions" role="tab" data-toggle="tab"><code>.srt</code></a></li> -->
    <!-- <li role="presentation"><a href="#vtt" aria-controls="captions" role="tab" data-toggle="tab"><code>.vtt</code></a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" >
     <div role="tabpanel" class="tab-pane active" id="overview">

        <p class="help-block">IBM and Speechmatics are fast and more accurate while Gentle is free of charge, works offline, and is only in English. Use Gentle if you are working with sensitve informations. Integration with Gentle is a bit more experimental at this stage. Follow the link for more info on setting it up
        <a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/setup-stt-apis.html" class="externalLink" id="linkToUserManual" target="_blank"><span  class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.
        </p>
         <p class="help-block">With IBM choose <code>narrowband</code> for telephone recordings, everything else is broadband.
        </p>
         <p class="help-block">The IBM option always takes 5 minutes to generate a transcription regardless of the length of the media(audio or video file). In the current version Pocketsphinx and Gentle take slightly more then the duration of the media(audio or video) to do a full transcription <i>(eg 27min will take 30min to transcribe)</i>.</p>

     </div>

    <div role="tabpanel" class="tab-pane " id="ibm">
      <br>
    <!-- IBM languages -->
      <div class="options"> 
      <div class="form-group">
        <label for="languageModelIBM">IBM Languages:</label>
        <select class="form-control" id="languageModelIBM">
          <option value="en-US_BroadbandModel" >US English  - Broadband</option> 
            <option value="en-US_NarrowbandModel">US English  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="en-UK_BroadbandModel">UK English - Broadband </option>
          <option value="en-UK_NarrowbandModel">UK English - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="es-ES_BroadbandModel">Spanish - Broadband </option>
          <option value="es-ES_NarrowbandModel">Spanish - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="fr-FR_BroadbandModel">French - Broadband</option>  
          <!-- <option disabled>_________</option> -->
          <option value="ja-JP_BroadbandModel"> Japanese - Broadband</option>
          <option value="ja-JP_NarrowbandModel"> Japanese - Narrowband </option>
          <!-- <option disabled>_________</option> -->
          <option value="ar-AR_BroadbandModel"> Modern Standard Arabic - Broadband </option>
          <!-- <option disabled>_________</option>          -->
          <option value="pt-BR_BroadbandModel"> Brazilian Portuguese - Broadband</option>
          <option value="pt-BR_NarrowbandModel"> Brazilian Portuguese  - Narrowband</option>
          <!-- <option disabled>_________</option> -->
          <option value="zh-CN_BroadbandModel"> Mandarin Chinese  - Broadband </option>
          <option value="zh-CN_NarrowbandModel">Mandarin Chinese  - Narrowband </option>

           <option value="ar-AR_BroadbandModel">Modern Standard Arabic - Broadband</option>
        
          <option value="ko-KR_BroadbandModel">Korean - Broadband</option>
          <option value="ko-KR_NarrowbandModel">Korean - Narrowband</option>
 
          <!-- TODO: add arabic option  -->
        </select>
         <p class="help-block">choose the language of your media file. The default is English US.</p>
         <p class="help-block">IBM® recommends that you use narrowband model for decoding of telephone speech.</p>
      </div>
    </div>
    <!-- Eng IBM Languages -->
    </div>

    <div role="tabpanel" class="tab-pane" id="speechmatics">
      <br>
      <!-- speechmatics languages -->
      <div class="form-group">
        <label for="languageModelSpeechmatics">Speechmatics  Languages:</label>
         <select class="form-control" id="languageModelSpeechmatics">
            <option value="en">English – Global</option>
            <option value="en-GB">English – British</option>
            <option value="en-AU">English – Australian</option>
            <option value="en-US">English – N. American</option>
            <option value="bg">Bulgarian</option>
            <option value="ca">Catalan</option>
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="nl">Dutch</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="hi">Hindi</option>
            <option value="hu">Hungarian</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="lv">Latvian</option>
            <option value="lt">Lithuanian</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="ro">Romanian</option>
            <option value="ru">Russian</option>
            <option value="sk">Slovak</option>
            <option value="sl">Slovenian</option>
            <option value="es">Spanish</option>
            <option value="sv">Swedish</option>
         </select>
         <p class="help-block">choose the language of your media file.</p>
      </div>
      <!-- Eng speechmatics languages -->
    </div>

    <!-- Rev -->
    <div role="tabpanel" class="tab-pane" id="rev">
      <br>

      <div class="form-group">
        <label for="revOrderNumber">Rev Transcription Order Number</label>
        <input type="text" name="revOrderNumber" class="form-control" id="inputRevOderNumber" value="" placeholder="TC0564934184">
        <p class="help-block">Add the Rev transcription order number to retrieve media file and transcript</p>
        </div>
        <!--  -->
       <!-- Eng Rev languages -->
    </div>

    
    <div role="tabpanel" class="tab-pane" id="gentle">
      <br>
      <label for="languageModel">Gentle/Kaldi Speech To Text:</label><br>
     <i> <a href="https://pietropassarelli.gitbooks.io/autoedit2-user-manual/content/setup-stt-apis/setup-stt-apis-gentle.html" target="_blank">See User manual for extra setup needed</a>, Only support US English For now, only works on Mac OSX</i></div>
    
    <div role="tabpanel" class="tab-pane" id="pocketsphinx">
      <br>
      <label for="languageModel">Pocketsphinx Speech To Text:</label><br>
     <i> Does not require extra setup, only supports US English for now, only works on Mac OSX</i>
   </div>

       <!-- Rev -->
       <div role="tabpanel" class="tab-pane" id="bbc">
        <br>
        <div class="form-group">
          <label for="revOrderNumber">BBC Octo Kaldi Speech To text Service</label>
          <p class="help-block">This version is only available to BBC employees on BBC Network, and only available for English language</p>
          <p class="help-block">As a BBC employee you need to be connected to the BBC corporate wifi (Reith) to be able to use this Speech to text option.</p>
          <p class="help-block alert-warning "><%= window.areBBCAPIkeysSet()? "" : "Click on <a href='#settings'>settings</a> to set your BBC email address to use with this service, it won't work otherwise" %></p>
        </div>
          <!--  -->
         <!-- Eng Rev languages -->
      </div>

    <!--  <div role="tabpanel" class="tab-pane" id="srt">
      <br>
      <label for="languageModel">Captions  <code>.srt</code> file:</label><br>
      <i> coming soon <code>.srt</code></i>
    </div> -->
<!-- 
     <div role="tabpanel" class="tab-pane" id="vtt">
      <br>
      <label for="languageModel">Captions  <code>.vtt</code> file:</label><br>
      <i> coming soon <code>.vtt</code></i>
    </div> -->

  </div>

<hr>

      </div><!-- ./col -->
      <!-- Title and description -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <label for="title">Title of Transcription</label>
          <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="e.g. Interview with Elon Musk" required>
        </div>
        <div class="form-group">
          <label for="description">Description (optional)</label>
          <textarea class="form-control"  name="description" rows="3" id="description"  placeholder="e.g. Speaking with Space X and Tesla CEO about the simulation theory"><%= description %></textarea>
        </div>
        <div class="row">
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
         <!--  <a id="submitBtn" class="btn btn-primary">Save Transcription</a> -->
          <a id="submitBtn" class="btn btn-primary">Save Transcription</a>
          <a id="cancel" class="btn btn-default" href="#transcriptions">Cancel</a>
       </div><!-- ./col -->
      </div><!-- ./row -->

    </div><!-- ./col -->

    <!-- Save  -->
    </div><!-- ./row -->
  
  </form>
  </div>

