<div class="row">
    <% if (!status) { %>
        <div class="col-xs-9 col-sm-10 cold-md-10 col-lg-11">
        <!--  not ready -->
            <button type="button" class="btn btn-lg btn-link showBtn controls"  disabled><%= title %></button>
            <button type="button" class="btn btn-lg btn-link"  disabled>
                <span id="processingExample" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                &nbsp;
                &nbsp;
            </button>
            <p><%= description %></p>
        </div>
        <div class="col-xs-3 col-sm-2 cold-md-2 col-lg-1">
            <!-- edit btn -->
            <!--  <button type="button"  class="btn btn-default btn-xs editBtn" disabled>
                       <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true">
                  </button> -->
            <!-- delete button -->
            <button type="button" class="btn btn-danger btn-xs deleteBtn" disabled>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    <% } else { %>
      <div class="col-xs-9 col-sm-10 cold-md-10 col-lg-11" id="transcriptionCard">
            <button type="button" class="btn btn-lg btn-link showBtn controls" ><%= title %></button>
            <p><%= description %></p>
      </div>
      <div class="col-xs-3 col-sm-2 cold-md-2 col-lg-1">
            <!-- edit btn -->
            <!-- <button type="button"  class="btn  btn-default btn-xs editBtn" disabled>
                    <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true">
                </button> -->
        <!-- delete btn -->
        <button type="button"  class="btn btn-danger btn-xs deleteBtn">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>
    <% } %>
</div>
<hr>
