<br><br><br><br>
<div class="container">
  <p class="lead text-center text-muted" style="font-size:2.5em;">
  <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
  </p>
  <p class="text-center">
  <a href="#transcriptions/new">Add an audio or video file</a> to get it <br>automatically transcribed
  </p>
   <p class="text-center">
  View <a href="#transcriptions">transcriptions</a></p>
</div>
