.sixtypercent{
	width: 80%!important;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

a.more {
    font-size: 15px!important;
    color: green!important;
}